.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 0rem;
  min-height: 100vh;
  background-color: #ebecd0;
}

.title {
  font-size: 1.5rem;
  color: black;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
  padding: 0px 0px 5px
}

.description {
  font-size: 1.1rem;
  color: black;
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
  padding: 10px 0px ;
}

.board { 
  border: 2px solid black;
}

.bottomContainer {
  padding: 20px 1px 20px;
  bottom: 0;
  text-align: center;
}


.newOpeningButton {
  font-size: 1.5rem;
  color: black;
  font-family: var(--font-mono);
  background-color: #779556;
  padding: 10px 30px;
  border-radius: 3px;
}

.newRangeSlider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.newRangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #779556;
  cursor: pointer;
}

.newRangeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #779556;
  cursor: pointer;
}

.sliderContainer {
	font-family: var(--font-mono);
}

.footer {
  background-color: #ebecd0;
  /* border-top: 1px solid #ebecd0; */
  text-align: center;
  padding: 30px 0 10px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  right: 0;
  height: 10px;
  /* width: 100%; */
  color: #abaeb3;
  font-size: .8rem;
  font-family: var(--font-mono);
  background-color: #ebecd0;
}
